body{
    background: #001C4D;
    color: aliceblue;
}
.kar{
    width: 200; 
    height: 180;
    position:relative; 
    left: 40px;
}
h1{
   background-color: #FF8519; 
}
.table{
    width: 75%;
    margin: 1 auto;
    padding-top: 30px;
}
tr, td{
    text-align:center;
}
.sierini{
    width: 300px; 
    height: 350px;
}
h2{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    padding-top: 200px;
}
.text{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
}
.tabula{
    width: 90%;
    margin: 1 auto;
    padding-top: 55px;
}
.karum{
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color:aliceblue;   
}
.tdd{
    width: 1500px;
}
.tddd{
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
.vesture{
    height: 453;
    width: 680;
}
.texts{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}
.sierini2{
    height: 700px;
    width: 600px;
}
.tabula2{
    width: 80%;
    margin: 1 auto;
    font-size: 20px;
    color:aliceblue;   
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 25px;
    font-weight: bold;
}
.heading{
    font-size: 35px;
    background: #000838;
}
.p{
    font-size: 22px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding-top: 50px;
}
.p1{
    font-size: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 200px;
    padding-left: 1000px;
}
.sierini3{
    height: 700px;
    width: 600px;
    padding-left: 700px;
}
